@import "tailwindcss";

@theme {
	--color-navy: #0f172a;
	--color-navy-dark: #0a0f1e;
	--color-navy-light: #1e293b;
	--color-teal: #06b6d4;
	--color-teal-dark: #0891b2;
	--color-teal-light: #22d3ee;
	--font-syne: 'Syne', sans-serif;
	--font-outfit: 'Outfit', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--font-outfit);
	background-color: var(--color-navy-dark);
	color: #cbd5e1;
}
